html,
body {
  overflow-x: hidden !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
*:focus {
  outline: 0 !important;
}

/* PJESA PER NAVBAR */

.navbar {
  background-color: #252525;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff !important;
  margin-right: 20px;
  padding-right: 30px !important;
  padding-left: 30px !important;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.navbar ul li a:hover {
  background-color: #414141;
  transition: 1s;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar-brand {
  margin-left: 100px;
}
.jumbotronHeader {
  height: 100%;
}
.jumbotronHeader .imageHeader img {
  width: 100%;
  height: 800px;
}
.jumbotronHeader .titleHeader h3 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bolder;
}
.jumbotronHeader .titleHeader p {
  font-weight: bold;
}
.jumbotronHeader .titleHeader {
  margin-top: 60%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.jumbotronHeader .titleHeader:hover {
  font-size: large;
  transition: 0.5s ease-in;
}

/* PJESA PER KARTEN TEK SHOPI */

.woocommerce .products .product img {
  padding: 10px;
}
.woocommerce .products .product {
  background-color: #fcfcfc;
  padding-bottom: 50px !important;
  width: 300px !important;
  height: auto;
  border-radius: 10px;
}
.woocommerce .products .product:hover {
  -webkit-box-shadow: 1px 1px 12px 0px rgba(168, 168, 168, 1);
  -moz-box-shadow: 1px 1px 12px 0px rgba(168, 168, 168, 1);
  box-shadow: 1px 1px 12px 0px rgba(168, 168, 168, 1);
  transition: 0.5s ease-in;
}

.woocommerce .products a .onsale {
  display: none;
}
.woocommerce .price {
  text-align: center;
}
.woocommerce .products .product .button.add_to_cart_button {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
  opacity: 0;
  background-color: #ff0000;
  color: #ffffff;
}
.woocommerce .products .product:hover .button.add_to_cart_button {
  opacity: 100%;
  transition: 0.5s;
}
.woocommerce .price span {
  text-decoration: none;
  color: #ff0000;
  text-underline-position: unset;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bolder;
}
.productsHome .products a.added_to_cart {
  color: #000000;
  text-align: center;
  font-weight: bolder;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}
.woocommerce .price ins {
  color: #fcfcfc;
}
.woocommerce .price del span {
  font-size: 15px;
}
.woocommerce h2 {
  text-align: center;
  color: #000000;
  font-weight: bold;
}
.woocommerce a {
  text-align: center;
}
.woocommerce {
  font-family: "Poppins", sans-serif;
}

/* PJESA PER MEDIA MOBILE PHONES */

@media (max-width: 480px) {
  .jumbotronHeader .titleHeader {
    margin-top: 20px;
  }
  .jumbotronHeader .titleHeader h3 {
    font-size: 30px;
  }
  .jumbotronHeader .imageHeader img {
    width: 100%;
    height: 200px;
  }
  .jumbotronHeader {
    height: auto;
  }
}

/* FILLIMI I PJESES PER ABITURFLYER */
/* ================================================================================== */
.divBg {
  background-color: #242424;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('../Images/backgroundLines.png'); */
  font-family: "Montserrat", sans-serif;
}
.logoFlyer img {
  width: 400px;
  height: auto;
  object-fit: cover;
  margin-left: 20px;
}
.containerHead {
  background-image: url("../Images/svgBg.png");
  background-size: 100% 100%;
  height: 1000px;
  background-color: #f0f0f0;
}
.containerHead .col {
  margin-top: 40px;
}
.titulliFlyer ul li {
  text-decoration: none;
  list-style: none;
  color: #efb326;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  object-fit: cover;
}
#txt1 {
  font-size: 37px;
  letter-spacing: 3px;
}
#txt2 {
  font-size: 35px;
  margin-top: -15px;
}
#txt3 {
  font-size: 78px;
  margin-top: -55px;
}
.titulliFlyer li i {
  width: 70px;
  height: 50px;
  font-size: 40px;
  margin-left: 40.5%;
  margin-right: auto;
  margin-top: -10px;
  display: block;
}
.txtFlyer p {
  color: #ffffff;
  text-align: justify;
  padding-left: 50px;
  margin-top: 80px;
  font-weight: bolder;
  font-size: 22px;
  object-fit: cover;
}
.txtFlyer p b {
  font-weight: 900;
  font-size: 27px;
}

.fotoFlyer img {
  width: 650px;
  height: 650px;
  object-fit: cover;
  border: 5px solid #f0f0f0;
  background-color: #f0f0f0;
  border-radius: 100%;
}
.container.containeri2 {
  background-color: #f0f0f0;
  background-image: url("../Images/svgbg2.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}
.container.containeri2 ul {
  list-style: none;
}

.container.containeri2 ul li:before {
  content: "✓ ";
}
.container.containeri2 h2 {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  margin-top: 50px;
}
.container.containeri2 p,
.container.containeri2 ul li {
  text-align: left;
  color: #000000;
  font-weight: 600;
  font-size: 22px;
}
.container.containeri2 .kontenti {
  padding-left: 50px;
}
.kontenti2 {
  padding-right: 50px !important;
}
.orangePhoto img {
  margin-top: 50px;
  border: 0px;
  width: 100%;
}
.orangePhoto {
  padding: 0;
  padding-left: 0;
}
.karta1 {
  margin-top: 50px;
}
.karta1 h1 {
  font-size: 20px;
  background-color: #efb326;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -70px;
}
.karta1 #h12 {
  font-size: 25px;
  margin-top: 15px;
}
.karta1 #h22 {
  font-size: 25px;
  margin-top: 115px;
  padding: 16px;
}

#paragrafi {
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
}
.karta1 .karta1border #smallp2 {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.karta1 .karta1border #smallp1 {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
}
.karta1 .karta1border #anotherul {
  margin-top: -15px;
}
.karta1 .karta1border ul li {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}
.karta1 .karta1border ul {
  padding-top: 30px;
  padding-right: 0 !important;
}

.karta1col {
  background-color: #000380;
  padding-bottom: 40px;
  background: rgba(0, 2, 128, 1);
  background: -moz-linear-gradient(
    top,
    rgba(0, 2, 128, 1) 0%,
    rgba(0, 2, 128, 1) 30%,
    rgba(0, 2, 128, 1) 42%,
    rgba(0, 2, 128, 1) 56%,
    rgba(0, 94, 174, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 2, 128, 1)),
    color-stop(30%, rgba(0, 2, 128, 1)),
    color-stop(42%, rgba(0, 2, 128, 1)),
    color-stop(56%, rgba(0, 2, 128, 1)),
    color-stop(100%, rgba(0, 94, 174, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 2, 128, 1) 0%,
    rgba(0, 2, 128, 1) 30%,
    rgba(0, 2, 128, 1) 42%,
    rgba(0, 2, 128, 1) 56%,
    rgba(0, 94, 174, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 2, 128, 1) 0%,
    rgba(0, 2, 128, 1) 30%,
    rgba(0, 2, 128, 1) 42%,
    rgba(0, 2, 128, 1) 56%,
    rgba(0, 94, 174, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 2, 128, 1) 0%,
    rgba(0, 2, 128, 1) 30%,
    rgba(0, 2, 128, 1) 42%,
    rgba(0, 2, 128, 1) 56%,
    rgba(0, 94, 174, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 2, 128, 1) 0%,
    rgba(0, 2, 128, 1) 30%,
    rgba(0, 2, 128, 1) 42%,
    rgba(0, 2, 128, 1) 56%,
    rgba(0, 94, 174, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000280', endColorstr='#005eae', GradientType=0 );
}

.karta1border {
  /* border: 4px solid #efb326; */
  padding-top: 40px;
  position: relative;
  display: block;
  background: rgb(0, 94, 174);
  background: radial-gradient(
    circle,
    rgba(0, 94, 174, 1) 64%,
    rgba(1, 62, 115, 1) 99%
  );
}
.bordertst {
  border: 9px solid #efb326;
  position: absolute;
  height: 680px;
  width: 100%;
  top: 50px;
  right: 0px;
  -moz-transform: skew(0deg, -6deg);
  -webkit-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  transform: skew(0deg, 2deg);
  z-index: 1;
}
.bordertst2 {
  border: 9px solid #efb326;
  position: absolute;
  height: 680px;
  width: 100%;
  top: 50px;
  right: 0px;
  -moz-transform: skew(0deg, -6deg);
  -webkit-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  transform: skew(0deg, -2deg);
  z-index: 1;
}

/* PJESA PER MOBILE */

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .logoFlyer img {
    width: 200px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container.containerHead {
    background-color: #135cae;
    background-image: none;
    height: 800px;
  }
  .titulliFlyer ul li {
    text-decoration: none;
    list-style: none;
    color: #efb326;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
  .titulliFlyer li i {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
    display: block;
  }
  .titulliFlyer ul {
    padding: 0;
    margin: 0;
  }
  .titulliFlyer #txt1 {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .titulliFlyer #txt2 {
    font-size: 21px;
    margin-top: -10px;
  }
  .titulliFlyer #txt3 {
    font-size: 45px;
    margin-top: -38px;
  }

  .txtFlyer p {
    color: #ffffff;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
  }
  .fotoFlyer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 5px solid #e9e7e7;
    background-color: #e9e7e7;
    border-radius: 100%;
  }
  .container.containeri2 {
    background-color: #e9e7e7;
    background-image: none;
    background-size: 130% 150%;
    background-repeat: no-repeat;
  }
  .container.containeri2 h2 {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    margin-top: 190px;
  }

  .container.containeri2 .kontenti {
    padding-left: 0;
  }
  .container.containeri2 .kontenti p,
  .container.containeri2 .kontenti ul li {
    font-size: 15px;
  }
  .container.containeri2 p,
  .container.containeri2 ul li {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .container.containeri2 ul li {
    text-align: left;
  }
  .container.containeri2 h2 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }
  .kontenti2 {
    margin-top: -50px;
    padding-right: 0 !important;
    text-align: justify;
  }
  .karta1col {
    background: #000380;
  }
  .karta1 h1 {
    font-size: 15px;
    background-color: #efb326;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -60px;
  }
  .karta1 #h12 {
    font-size: 15px;
    margin-top: 10px;
  }
  .karta1 #h22 {
    font-size: 15px;
    margin-top: 10px;
  }
  #paragrafi {
    color: #ffffff;
    text-align: center;
  }
  .karta1 .karta1border ul li {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
  }
  .karta1 .karta1border ul {
    padding-top: 50px;
    word-wrap: break-word;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .karta1 .karta1border #lista1 li {
    text-align: center;
  }

  .karta1border {
    /* border: 4px solid #efb326; */
    margin-top: -25px;
    position: relative;
    background: rgb(0, 94, 174);
    background: radial-gradient(
      circle,
      rgba(0, 94, 174, 1) 52%,
      rgba(0, 3, 128, 1) 90%
    );
    border: 7px solid #efb326;
    border-bottom: 0;
  }
  .bordertst {
    display: none;
  }
  .bordertst2 {
    display: none;
  }
  .karta1 .karta1border #smallp {
    text-align: left;
  }
}

/* PJESA PER TABLET IPAD ETC */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logoFlyer img {
    width: 60%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container.containerHead {
    background-color: #135cae;
    background-image: none;
    height: 950px;
  }
  .titulliFlyer {
    text-align: center;
  }
  .titulliFlyer li i {
    width: 70px;
    height: 50px;
    font-size: 40px;
    margin-left: 41.5%;
    margin-right: auto;
    margin-top: -4px;
    display: block;
  }
  .titulliFlyer #txt1 {
    font-size: 29px;
    letter-spacing: 7px;
  }
  .titulliFlyer #txt2 {
    font-size: 33.5px;
    margin-top: -14px;
  }
  .titulliFlyer #txt3 {
    font-size: 73px;
    margin-top: -50px;
  }
  .txtFlyer p {
    color: #ffffff;
    text-align: justify;
    padding-left: 30px;
    margin-top: -30px;
    padding-right: 30px;
    font-weight: bolder;
  }
  .fotoFlyer img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 5px solid #f0f0f0;
    background-color: #f0f0f0;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .titulliFlyer ul {
    margin: 0;
    padding: 0;
  }
  .container.containeri2 h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 200px;
  }

  .container.containeri2 .kontenti {
    padding-left: 0;
  }
  .container.containeri2 .kontenti p,
  .container.containeri2 .kontenti ul li {
    font-size: 20px;
  }
  .container.containeri2 p,
  .container.containeri2 ul li {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
  .kontenti2 {
    margin-top: -50px;
    padding-right: 0 !important;
    text-align: justify;
  }
  .karta1 h1 {
    font-size: 15px;
    background-color: #efb326;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -60px;
  }
  .karta1 #h12 {
    font-size: 15px;
    margin-top: 10px;
  }
  .karta1 #h22 {
    font-size: 15px;
    margin-top: 10px;
  }
  #paragrafi {
    color: #ffffff;
    text-align: center;
  }
  .karta1 .karta1border ul li {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
  }
  .karta1 .karta1border ul {
    padding-top: 50px;
    padding-left: 0;
  }
  .karta1 .karta1border #lista1 li {
    text-align: center;
  }
  .karta1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

  .karta1col {
    background: #000380;
  }

  .karta1border {
    /* border: 4px solid #efb326; */
    margin-top: -25px;
    position: relative;
    border: 9px solid #efb326;
    background: rgb(0, 94, 174);
    background: radial-gradient(
      circle,
      rgba(0, 94, 174, 1) 52%,
      rgba(0, 3, 128, 1) 90%
    );
    border: 7px solid #efb326;
    border-bottom: 0;
  }
  .bordertst {
    display: none;
  }
  .bordertst2 {
    display: none;
  }
}

/* PJESA PER IPAD PRO TABLETA MA TE MDHAJ */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .logoFlyer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
  }
  .container.containerHead {
    background-image: url("../Images/svgBg.png");
    background-size: 100% 100%;
    height: 800px;
    background-color: #f0f0f0;
  }
  .titulliFlyer #txt1 {
    font-size: 20px;
    letter-spacing: 6px;
  }
  .titulliFlyer #txt2 {
    font-size: 24.5px;
    margin-top: -10px;
  }
  .titulliFlyer #txt3 {
    font-size: 55px;
    margin-top: -50px;
  }
  .titulliFlyer li i {
    width: 70px;
    height: 50px;
    font-size: 30px;
    margin-left: 40%;
    margin-right: auto;
    margin-top: -4px;
    display: block;
  }
  .karta1col {
    background: #000380;
  }
  .txtFlyer p {
    color: #ffffff;
    text-align: justify;
    padding-left: 30px;
    margin-top: 90px;
    padding-right: 30px;
    font-weight: bolder;
    font-size: 17px;
  }
  .fotoFlyer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 100%;
  }
  .container.containeri2 h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }

  .container.containeri2 .kontenti {
    padding-left: 0;
  }
  .container.containeri2 .kontenti p,
  .container.containeri2 .kontenti ul li {
    font-size: 20px;
  }
  .kontenti2 {
    margin-top: 10px;
    padding-right: 0 !important;
    text-align: left;
  }
  .container.containeri2 p,
  .container.containeri2 ul li {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
}

/* MBARIMI I PJESES PER ABITURFLYER */
/* ================================================================================== */

/*# sourceMappingURL=style.css.map */
